* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #383838;
}

div {
    margin-bottom: 5px;
}
input, span {
    margin-right: 3px;
}