* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #383838;
}


input, span {
    margin-right: 3px;
}

.grid-op {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cusColor {
    color: #3A3845;   
}

button {
    margin-bottom: 3px;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .gridWrapper {
    height: 85vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
  }
  
  .gridContainer {
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 75vh;
    aspect-ratio: 1/1;
  }

  .cell {
    border-top: 1px solid black;
    border-right: 1px solid black;
    user-select: none;
  }
  
  .border {
    border: none;
  }

  .colorOptions {
    align-items: center;
  }

  .bt {
      margin-bottom: 5px;
  }